@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1855px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

/* Header start */
.logo{
    margin-right: 140px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.header_menu{
    width: 1817px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_menu{
    display: flex;
    justify-content: space-between;
    width: 1483px;
}
.left_menu ul{
    display: flex;
    justify-content: flex-start;
}
.left_menu ul li{
    margin-right: 80px;
}
.left_menu ul li a{
    font-size: 24px;
    color: black;
}
.right_menu ul{
    display: flex;
    justify-content: flex-start;
}
.right_menu ul li a{
    font-size: 24px;
    color: black;
}
.short_trips a div{
    display: flex;
    justify-content: flex-start;
}
.short_trips a div p{
    margin-right: 20px;
}
#login{
    color: #0D9206;
}
#sign_up{
    color: #ffffff;
    margin-left: 70px;
    padding: 10px 24px;
    border-radius: 8px;
    border: 1px solid #FF8800;
    background-color: #FF8800;
}
/* Header end */




/* Main start */
main{
    display: flex;
}
.left_side_icons{
    position: absolute;
    height:79vh;
    /*width: 20px;*/

}
.main_left{
    width: 976px;
    height: 867px;
}
                                                /* >>>icons */
main .left_side_icons{
    display: flex;
    align-items: center;
}
main .left_side_icons ul li{
    margin-bottom: 30px;
}
.icon_property{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 17px;
    border: 1px solid #0D9206;
    border-radius: 50%;
    text-decoration: none;
}
.icon_property i{
    font-size: 30px;
    color: black;
}
#more_short_trips{
    position: absolute;
    bottom: 0%;
    text-decoration: none;
}
#more_short_trips div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#more_short_trips div img{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 7px 20px #00000044;
}
#more_short_trips_text{
    color: #789376;
    white-space: nowrap;
    font-size: 26px;
    margin-left: 10px;
}
                                                    /* icons<<< */
                                                /* >>>main left */
.main_left{
    display: flex;
    justify-content: flex-end;
}
#ads{
    font-family: 'Square721_BT_Bold';
    display: block;
    width: 290px;
    height: 140px;
    background-color: #ffffff;
    position: absolute;
    right: 50%;
    border-radius: 12px;
    box-shadow: -8px 14px 27px rgba(0, 0, 0, 0.16);
}
#ads_days{
    font-size: 35px;
    color: #0D9206;
    margin: 9px 0 0 21px
}
#per_person{
    font-size: 32px;
    margin: 28px 54px 17px 21px
}
                                                /* main left<<< */

                                                /* >>>main right */
.main_right{
    width: 879px;
    height: 867px;
}
.p-tour-vietnam{
    width: 665px;
    color: #7D7D7D;
}
.main_right h1{
    font-size: 84px;
    font-weight: bold;   
    text-shadow: 0 16px 21px rgba(0, 0, 0, 0.16);
}
.main_right span{
    color: #0D9206;
    text-shadow: 0 16px 21px rgba(0, 0, 0, 0.16);
}
#button_book{
    color: white;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: 1px solid #FF8800;
    background-color: #FF8800;
    margin-top: 52px;
    border-radius: 31px;
}
.slider_img{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-top: 300px;
}
.slider_img a{
    margin-right: 16px;
    margin-bottom: 32px;
}
div .slider-button{
    display: flex;
    align-items: center;
    position: absolute;
    top: 82vh;
}
.slider-button a p{
    margin-right: 20px;
    color: #789376;
    white-space: nowrap;
    font-size: 26px;
    padding: 17px 28px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    box-shadow: 0px 7px 20px #00000044;
}
.slider-button a i{
    margin-right: 20px;
    display: block;
    width: 39px;
    color: #0D9206;
    text-align: center;
    padding: 22px 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    box-shadow: 0px 7px 20px #00000044;
}
.container_slider{
    display: flex;
    justify-content: flex-end;
    width: 879px;
}
